<%- include('../partials/header') %>
<form id = "add-item-form" action="/profiles/<%= user._id %>?_method=PUT" method="POST">
    <label>Add Monthly Budget
        <input type = "number" value = <%= user.budget %> name = "budget">
        </label>
        <button type = "submit" >Add Budget</button>
    </form>
<%- include('../partials/footer') %>
