<%- include('../partials/header') %>
<h1>Welcome to Cash Cow</h1>
<h4>Milk your money for what it's worth.</h4>
<div class = "container1">
  <div class="card" id = "card1" style="width: 18rem;">
    <img src="/images/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Month's Spendings</h5>
      <p class="card-text">View your monthly spendings and your remaining budget.</p>
      <a href="#" class="btn btn-primary">Budget</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/images/test.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Top Categories</h5>
      <p class="card-text">View where you've been spending the most money.</p>
      <a href="#" class="btn btn-primary">Top Categories</a>
    </div>
  </div>
</div>

  <div class = "container2">
  
  <div class="card" id="card4" style="width: 18rem;">
    <img src="/images/users.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Add a New Budget Item</h5>
      <p class="card-text">Make a purchase? Make sure both you and your budget know.</p>
      <a href="#" class="btn btn-primary">Click here</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/subs.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">View your Active Subscriptions</h5>
      <p class="card-text">Don't get caught by off-guard with a surprise charge, manage your subscriptions here.</p>
      <a href="#" class="btn btn-primary">Active Subscriptions</a>
    </div>
  </div>
</div>
  <%- include('../partials/footer') %>

